/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
}
.active-text {
  display: block;
  color: var(--bistre);
}
.bold {
  font-weight: bold;
}

/**** Start of Generic Components ****/
/* Icons */
.meatballs-icon::before {
  cursor: pointer;
  content: '...';
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
}
.square-icon::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
.square-icon__skobeloff::before{
  background-color: var(--skobeloff);
}
.square-icon__french-bistre::before{
  background-color: var(--french-bistre);
}
.square-icon__bistre::before{
  background-color: var(--bistre);
}
.square-icon__red-orange::before{
  background-color: var(--red-orange);
}

/* Button */
.button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.button__bordered {
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.button__filled {
  background-color: var(--yellow-apricot);
}
.button__outlined {
  outline: 2px solid var(--bistre);;
}
.button__danger {
  background-color: var(--red-orange);
}
.button:disabled {
  background-color: var(--french-bistre);
  border-color: var(--french-bistre);
  cursor: not-allowed;
}
.button:hover:not([disabled]) {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
}

/* Dropdown */
.dropdown {
  position: absolute;
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.dropdown-option-list {
  list-style: none;
}
.dropdown-option {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.dropdown-option:hover{
  background-color: var(--yellow-apricot);
}

/* Action Sidemenu */
.nested-action-sidemenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
}

.action-sidemenu {
  position: absolute;
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.action-sidemenu-option-list {
  list-style: none;
}
.action-sidemenu-option {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}
.action-sidemenu-option:hover {
  background-color: var(--yellow-apricot);
}

/* Images */
.image {
  object-fit: cover;
  border: 2px solid var(--bistre);
  background-color: var(--french-bistre);
}
.image__sm {
  width: 70px;
  height: 70px;
}
.image__md {
  width: 90px;
  height: 90px;
}
.image__round {
  border-radius: 90px;
}
.image__square {
  border-radius: 10px;
}
/**** End of Generic Components ****/

/* Community Page */
.community-page {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Community Banner */
.community-banner {
  /* border: 1px solid var(--bistre); */
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.community-banner-background {
  background-size: contain;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
  border: 5px solid var(--bistre);
  width: 100%;
  height: 350px;
}
.community-banner-content {
  background-color: var(--yellow-apricot);
  /* border: 1px solid var(--bistre); */
  display: flex;
  flex-direction: row;
  padding: 5px 100px;
  justify-content: space-between;
}
.community-banner-content-left {
  display: flex;
  align-items: center;
}
.community-banner-content-right {
  display: flex;
  align-items: center;
}
.community-info {
  /* border: 1px solid var(--bistre); */
  /* width: 370px; */
  max-width: calc(80% - 30px);
  padding: 0 10px;
  white-space: nowrap;
}
.community-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Main section */
.main-section {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
}

/* Community Content Display */
.community-content-display {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

/* Content List */
.content-list-container {
  display: flex;
  flex-direction: column;
}

/* Community Stat */
.community-stats {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* gap: 30px; */
}
.community-stats-tab {
  padding: 10px;
  width: 80px;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  /* border: 2px solid var(--bistre); */
}
.community-stats-tab:hover {
  border-bottom: 2px solid var(--skobeloff);
}

/* Content Control tool */
.content-control-tool {
  /* border: 2px solid var(--bistre); */
  border-radius: 10px;
  display: flex;
  margin: 10px 0;
}
.left-control-box {
  margin-right: auto;
}
.right-control-box {
  margin-left: auto;
  display: flex;
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.right-control-placeholder {
  border-radius: 10px;
  padding: 10px;
}

/* Community Post List */
.community-post-list {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Community Post */
.community-post {
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  /* gap: 10px; */
}
.community-post:hover {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
}
.community-post__clickable-area {
  display: flex;
  width: 100%;
  /* background-color: red; */
  gap: 10px
}
.post-summary {
  /* width: 745px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid var(--bistre); */
}
.post-id-title {
  width: 100%; 
  /* border: 1px solid var(--bistre); */
}
.post-author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid var(--bistre); */
}
.post-author__link:hover {
  text-decoration: underline;
  color: var(--yellow-apricot);
  cursor: pointer;
}


/* Post Labels */
.post-labels {
  margin-left: auto;
  /* border: 2px solid var(--bistre); */
  position: relative;
}
/* Post Stat Labels */
.post-stat-labels {
  display: flex;
  gap: 10px;
  /* border: 2px solid var(--bistre); */
}
.post-stat-label {
  width: 90px;
  height: 90px;
  /* border: 2px solid var(--bistre); */
  border-radius: 5px;
  display: grid;
  place-items: center;
  align-content: center;
}
/* Post Action Labels */
.post-action-labels {
  width: 100%;
  position: absolute;
  /* border: 1px solid var(--bistre); */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.post-action-label {
  margin-top: -5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}
.post-action-label__bistre {
  background-color: var(--bistre);
  color: var(--light-yellow);
}
.post-action-label__french-bistre {
  background-color: var(--french-bistre);
  color: var(--light-yellow);
}
.post-action-label__skobeloff {
  background-color: var(--skobeloff);
  color: var(--light-yellow);
}
.post-action-label__red-orange {
  background-color: var(--red-orange);
  color: var(--light-yellow);
}


/* Community members list*/
.community-members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Community Member */
.community-member {
  /* flex: 0 0 calc(20%); */
  flex: 0 0 calc(20% - 10px);
  outline: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.community-member:hover {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
  cursor: pointer;
}
.community-member__clickable-area {
  display: flex;
  width: 100%;
}

.community-member__filled {
  background-color: var(--yellow-apricot);
}
.community-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}

/* Member Action Labels */
.member-action-labels {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  /* border: 1px solid var(--bistre); */
  /* background-color: var(--red-orange); */
}
.member-action-label {
  /* position: relative; */
  margin-bottom: 80px;
  position: absolute;
  align-items: flex-start;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

/* Pagination */
.pagination {
  display: flex;
  /* justify-content: center; */
}
.page-number {
  padding: 10px;
  border-radius: 10px;
}