/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
}
.active-text {
  display: block;
  color: var(--bistre);
}
.bold {
  font-weight: bold;
}

/**** Start of Generic Components ****/
/* Icons */
.meatballs-icon::before {
  cursor: pointer;
  content: '...';
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-family: 'Alfa Slab One', cursive;
  border-radius: 5px;
}
.meatballs-icon__active::before {
  cursor: pointer;
  content: '...';
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-family: 'Alfa Slab One', cursive;
  border-radius: 5px;
  background-color: var(--yellow-apricot);
}
.square-icon::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
.square-icon__skobeloff::before{
  background-color: var(--skobeloff);
}
.square-icon__french-bistre::before{
  background-color: var(--french-bistre);
}
.square-icon__bistre::before{
  background-color: var(--bistre);
}
.square-icon__red-orange::before{
  background-color: var(--red-orange);
}

/* Button */
.button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.button__bordered {
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.button__filled {
  background-color: var(--yellow-apricot);
}
.button__outlined {
  outline: 2px solid var(--bistre);;
}
.button__danger {
  background-color: var(--red-orange);
}
.button:disabled {
  background-color: var(--french-bistre);
  border-color: var(--french-bistre);
  cursor: not-allowed;
}
.button:hover:not([disabled]) {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
}

/* Dropdown */
.dropdown {
  position: absolute;
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.dropdown-option-list {
  list-style: none;
}
.dropdown-option {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.dropdown-option:hover{
  background-color: var(--yellow-apricot);
}

/* Action Sidemenu */
.nested-action-sidemenu {
  position: absolute;
  top: 0;
  /* left: 100%; */
  right: 100%;
  background-color: var(--light-yellow);
  outline: 2px solid var(--bistre);
  border-radius: 5px;
}

.action-sidemenu {
  position: absolute;
  /* top: 20px; */
  right: 0;
  /* right: calc(100% - 20px); */
  background-color: var(--light-yellow);
  outline: 2px solid var(--bistre);
  border-radius: 5px;
}
.action-sidemenu__active {
  background-color: var(--light-yellow);
}
.action-sidemenu-option-list {
  list-style: none;
  width: fit-content;
}
.action-sidemenu-option {
  /* width: max-content; */
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}
.action-sidemenu-option:hover {
  background-color: var(--yellow-apricot);
}

/* Images */
.image {
  object-fit: cover;
  border: 2px solid var(--bistre);
  background-color: var(--french-bistre);
}
.image__sm {
  /* width: 100%; */
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
}
.image__md {
  /* width: 90px; */
  /* height: 90px; */
  min-width: 90px;
  max-width: 90px;
  min-height: 90px;
  max-height: 90px;

}
.image__round {
  border-radius: 90px;
}
.image__square {
  border-radius: 10px;
}
/**** End of Generic Components ****/

/* Community Page */
.community-page {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Community Banner */
.community-banner {
  /* border: 1px solid var(--bistre); */
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.community-banner-background {
  background-size: contain;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* border: 5px solid var(--bistre); */
  width: 100%;
  height: 350px;
}
.community-banner-background-image {
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: 0% 0%; */
  /* background-size: 100% 100%; */
  /* background-size: contain; */
  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: multiply; */
}

.community-banner-content {
  background-color: var(--yellow-apricot);
  /* border: 1px solid var(--bistre); */
  border-top: 2px solid var(--bistre);
  display: flex;
  flex-direction: row;
  padding: 5px 5%;
  justify-content: space-between;
}
.community-banner-content-left {
  display: flex;
  align-items: center;
}
.community-banner-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}
.community-info {
  /* width: 370px; */
  /* max-width: calc(80% - 30px); */
  max-width: calc(100%);
  padding: 0 10px;
}
.community-name {
  line-height: 1em;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

/* Main section */
.main-section {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
}

/* Community Content Display */
.community-content-display {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

/* Content List */
.content-list-container {
  display: flex;
  flex-direction: column;
}

/* Community Stat */
.community-stats {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* gap: 30px; */
}
.community-stats-tab {
  padding: 10px;
  width: 80px;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}
.community-stats-tab__active {
  padding: 10px;
  width: 80px;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--skobeloff);
}

.community-stats-tab:hover {
  border-bottom: 2px solid var(--skobeloff);
}

/* Content Control tool */
.content-control-tool {
  /* border: 2px solid var(--bistre); */
  border-radius: 10px;
  display: flex;
  margin: 10px 0;
}
.left-control-box {
  margin-right: auto;
}
.right-control-box {
  margin-left: auto;
  display: flex;
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.right-control-button-label {
  border-radius: 10px;
  padding: 10px;
}

/* Community Post List */
.community-post-list {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Community Post */
.community-post {
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  /* gap: 10px; */
}
.community-post:hover {
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
}
.community-post__clickable-area {
  display: flex;
  width: 100%;
  /* background-color: red; */
  gap: 10px
}

/* Post Summary & Stat Labels Container */
.post-summary-stat-labels-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Post Summary */
.post-summary {
  /* width: 745px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid var(--bistre); */
}
.post-id-title {
  width: 100%; 
  /* border: 1px solid var(--bistre); */
}
.post-author-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  /* border: 1px solid var(--bistre); */
}
/* .post-author {
  width: 100%;
  border: 1px solid var(--bistre);
}
.post-date {
  width: 100%;
  border: 1px solid var(--bistre);
} */

.post-author__link:hover {
  text-decoration: underline;
  color: var(--yellow-apricot);
  cursor: pointer;
}

/* Post Stat Labels */
.post-stat-labels {
  display: flex;
  gap: 10px;
  /* border: 1px solid var(--bistre); */
  /* width: 90px; */
}
.post-stat-label {
  width: 90px;
  /* height: 90px; */
  /* border: 1px solid var(--bistre); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Post Action Labels */
.post-action-labels {
  width: 100%;
  position: absolute;
  /* border: 1px solid var(--bistre); */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.post-action-label {
  margin-top: -8px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}
.post-action-label__bistre {
  background-color: var(--bistre);
  color: var(--light-yellow);
}
.post-action-label__french-bistre {
  background-color: var(--french-bistre);
  color: var(--light-yellow);
}
.post-action-label__skobeloff {
  background-color: var(--skobeloff);
  color: var(--light-yellow);
}
.post-action-label__red-orange {
  background-color: var(--red-orange);
  color: var(--light-yellow);
}

/* Community members list*/
.community-members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Community Member */
.community-member {
  flex: 1;
  /* flex: 0 0 calc(20% - 10px); */
  min-width: calc(20% - 10px);
  max-width: calc(20% - 10px);
  outline: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
.community-member:hover {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 /50%);
  cursor: pointer;
}
.community-member__clickable-area {
  display: flex;
  width: 100%;
}
.community-member__filled {
  background-color: var(--yellow-apricot);
}
.community-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}

/* Member Action Labels */
.member-action-labels {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.member-action-label {
  margin-top: -8px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

/* Pagination */
.pagination {
  display: flex;
  /* justify-content: center; */
}
.page-number {
  padding: 10px;
  border-radius: 10px;
}

/* Community Leave Modal */
.community-leave-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.community-leave-modal-headline {
  color: var(--bistre);
  font-family: 'Alfa Slab One', cursive;
}
.community-leave-modal-buttons {
  display: flex;
  gap: 10px;
}


/* Responsive Breakpoints */
/* Mobile */
@media (max-width: 480px) {
  /* Layout Margins */
  .community-banner-content {
    padding: 5px 2%;
  }
  .main-section {
   margin: 0 1%; 
  }
  /* Banner Buttons */
  .community-banner-content-right {
    /* display: flex; */
    /* border: 1px solid var(--bistre); */
    flex-direction: column;
    gap: 5px
  }
  /* Create Post Label */
  .right-control-button-label {
    display: none;
  }
  /* Community Member */
  .community-member {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

/* Tablet */
@media (max-width: 768px) {
  /* Post Summary and Labels */
  .post-summary-stat-labels-container {
    flex-direction: column;
  }
  .post-stat-labels {
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: flex-start;
  }
  .post-stat-label {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 3px;
    width: auto;
    /* width: 100%; */
    /* border: 1px solid var(--bistre); */
  }
}

/* Desktop */
@media (max-width: 1200px) {
  /* Community Member */
  .community-member {
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
