/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
}
.active-text {
  display: block;
  color: var(--bistre);
}
.bold {
  font-weight: bold;
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
}

/* Profile Header */
.profile-header {
  width: 100%;
  /*height: 85px;*/
  background: none;
  /*border-bottom: 2px solid var(--bistre);*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 300px;
}

/* Page nav buttons */
.page-nav-buttons {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
.button {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* User Profile Form */
.user-profile-form {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  /*border: 2px solid var(--bistre);*/
  flex-wrap: wrap;
  /*flex-direction: column;*/
}
.text-input {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
.text-input:disabled {
  background-color: var(--french-bistre);
  color: var(--light-yellow);
  cursor: not-allowed;
}
.textarea-input {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  height: 300px;
  width: 400px;
  font-size: 14px;
  padding: 10px;
  resize: none;
}

/* User profile avatar field */
.user-profile-avatar {
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /*flex-basis: 33%;*/
}
.profile-avatar-preview {
  border: 2px solid var(--bistre);
  /* background: none; */
  background-color: var(--french-bistre);
  /* object-fit: contain; */
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
#profile-avatar-upload-input {
  display: none;
}

/* User profile basic info field */
.user-profile-basic-info {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  /*flex-basis: 33%;*/
}

/* User profile detail info field */
.user-profile-detail-info {
  flex-basis: 33%;
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

@media (max-width: 1200px) {
  .profile-header {
    padding: 100px 100px 0;
  }
  .user-profile-avatar{
    width: 100%;
  }
}

@media (max-width: 860px) {
  .profile-header{
    padding-top: 100px;
  }
  .user-profile-form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .user-profile-form {
    gap: 20px;
  }
  .text-input, .textarea-input{
    width: 300px;
  }

  .profile-header {
    padding: 0 20px;
  }
}

@media (max-width: 300px) {
  .text-input, .textarea-input{
    width: 200px;
  }

}

@media (max-width: 200px) {
  .text-input, .textarea-input{
    width: 100px;
  }
}
