/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
}
.active-text {
  display: block;
  color: var(--bistre);
}

/* Container */
.container {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  border: 2px solid var(--bistre);
}

/* Headline */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.data-input {
  border: 2px solid var(--bistre);
  background: none;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
.data-input:focus {
  /* border: 2px solid var(--yellow-apricot); */
}

/* 
.email-input {
  border: 2px solid var(--bistre);
  background: none;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
.password-input {
  border: 2px solid var(--bistre);
  background: none;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
.token-input {
  border: 2px solid var(--bistre);
  background: none;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
} */


/* Buttons */
.send-instructions-button {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  cursor: pointer;
}
.send-instructions-button:hover {
  border: 2px solid var(--french-bistre);
  color: var(--french-bistre);
}
.reset-password-button {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  cursor: pointer;
}
.reset-password-button:hover {
  border: 2px solid var(--french-bistre);
  color: var(--french-bistre);
}
.back-to-login-button {
  cursor: pointer;
  padding: 10px;
  color: var(--bistre);
}
.back-to-login-button:hover {
  color: var(--french-bistre);
}