/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
  text-align: center;
}
.active-text {
  display: block;
  color: var(--bistre);
  text-align: center;
}

/* Container */
.container {
  min-height: calc(100vh - 60px);
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding: 20px;
  padding-top: 3em;
  max-width: 600px;
  margin: 0 auto;
}

/* Headline */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin-top: 100px;*/
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.data-input {
  border: 2px solid var(--bistre);
  background: none;
  border-radius: 10px;
  height: 50px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 1rem;
}
@media (max-width: 600px) {
  .data-input {
    border: 2px solid var(--bistre);
    background: none;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}
@media (max-width: 400px){
  .data-input{
    border: 2px solid var(--bistre);
    background: none;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.password {
  -webkit-text-security: square;
}

.data-input:focus {
  /* border: 2px solid var(--yellow-apricot); */
}

.send-instructions-button,
.reset-password-button {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  width: 50%;
  padding: 1em;
  cursor: pointer;
}

/* Buttons */
@media (max-width: 250px) {
  .send-instructions-button,
  .reset-password-button {
    font-size: 0.8em;
    border: 2px solid var(--bistre);
    background-color: var(--yellow-apricot);
    border-radius: 10px;
    width: 50%;
    padding: 1em;
    cursor: pointer;
  }

  .data-input{
    border: 2px solid var(--bistre);
    background: none;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}

@media (max-height: 250px){
  .container{
    padding-top: 100px;
  }
}

@media (max-height: 150px){
  .container{
    padding-top: 130px;
  }
}

.send-instructions-button:hover,
.reset-password-button:hover {
  border: 2px solid var(--french-bistre);
  color: var(--french-bistre);
}

.back-to-login-button {
  cursor: pointer;
  padding: 1em;
  color: var(--bistre);
}

.back-to-login-button:hover {
  color: var(--french-bistre);
}