.homepageB-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

.homepageB-communities-row {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

@media (max-width: 800px) {
  .homepageB-communities-row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.homepageB-community-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}