.homepage-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

.homepage-communities-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 800px) {
  .homepage-communities-row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.homepage-community-image {
    border-radius: 50%;
    width: 14.285714285vw;
}