.homepage-wrapper {
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 2%;
}

.homepage-welcome-message {
  color: var(--bistre);
}

/* .homepage-wrapper > * {
  margin-block: 5px;
}

.homepage-wrapper > *:first-child {
  margin-top: 0;
}

.homepage-wrapper > *:last-child {
  margin-bottom: 5%;
} */

.homepage-row-intro {
  display: flex;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #864522; /* unused but in style guide */
  color: var(--yellow-apricot);
}

.homepage-communities-row {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    padding-block: 20px;
}

@media (max-width: 800px) {
  .homepage-communities-row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.hyperlink {
  text-decoration: underline;
  font-size: 1.125rem;
}

/* unvisited link */
.hyperlink:link {
  color: blue;
}

/* visited link */
.hyperlink:visited {
  color: purple;
  text-decoration: underline;
}

/* mouse over link */
.hyperlink:hover {
  cursor: pointer;
}

.homepage-community-wrapper {
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    width: 250px;
    text-align: center;
    /* color: var(--bistre); */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.homepage-community-wrapper a { /* cursor line up */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-block: 5px; /* space for hover effect to not block wording */
}

.homepage-community-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.homepage-community-image:hover {
  box-shadow: 0 0 0 8px #864522;
}