/* Header Nav */
.headerNav {
  background-color: var(--yellow-apricot);
  color: var(--bistre);
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  min-height: 8vh;
  z-index: 5;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 /50%);
}

/* Logo */
.logo {
  font-family: "Alfa Slab One", cursive;
  font-size: 3rem;
  color: var(--bistre);
}
.logo:hover {
  cursor: pointer;
  color: var(--french-bistre);
}

/* Nav List */
.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 0.938rem;
}
.nav-item {
  color: var(--bistre);
  text-decoration: none;
  padding: 10% 0;
  border: 2px solid transparent;
}
.nav-item:focus,
.nav-item:hover {
  color: var(--french-bistre);
  cursor: pointer;
}
.nav-item__active {
  color: var(--bistre);
  text-decoration: none;
  padding: 10% 0;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--french-bistre);
}
.nav-item__active:focus,
.nav-item__active:hover {
  cursor: pointer;
  color: var(--bistre);
}

/* Profile Icon */
.profile-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

/* Profile Dropdown */
.profile-dropdown {
  display: flex;
  align-items: center;
  /* background-color: red; */
  text-align: center;
}
.profile-dropdown:hover {
  cursor: pointer;
}

/* Dropdown Icon */
.up-icon::before {
  cursor: pointer;
  content: "\23F6";
  font-weight: bold;
  font-size: 30px;
  color: var(--bistre)
}
.down-icon::before {
  cursor: pointer;
  content: "\23F7";
  font-weight: bold;
  font-size: 30px;
  color: var(--bistre)
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light-yellow);
  outline: 2px solid var(--bistre);
  border-radius: 10px;
  list-style: none;
  user-select: none;
  font-size: 0.938rem;
}
.dropdown-menu-item {
  padding: 5px;
  border-radius: 5px;
}
.dropdown-menu-item:hover {
  cursor: pointer;
  background-color: var(--yellow-apricot);
}

/* Responsive */
@media (max-width: 500px) {
  .headerNav {
    padding-inline: 1rem;
  }
}

/* Prevent logo hover on touch screens */
@media (hover: none) and (pointer: coarse) {
  .logo:hover {
    color: var(--french-bistre);
  }
}