/* Page Background color */
.post-page{
    width: 100%;
    height: 100%;
}

body {
    background-color:  #FEFEE2;
}
  
.postpage-content{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 1000px;
    left: 0%;
}

/* community-bar */ 
.community-bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    top: 0%;

    background: #F3C26E;
    border: 2px solid #000000;
}

.image-info{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 9.38%;
}

.community-image{
    box-sizing: border-box;
    height: 65px;
    width: 65px;
    margin: 10px;
    margin-left: 0; 

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.community-info{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
}

.community-name{
    color: #000000;
}

.community-created{
    color: #616161;
}

.notification{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 160px;
    margin: 10px;
    margin-left: 15%;

    background: #FEFEE2;
    border: 1px solid #000000;
    border-radius: 10px;
}

.notification:hover{
    background-color: #3D211A;
}

.notification:hover .notification_text{
    color: white;
}

.notification_text{
    display: flex;
    align-items: center;
    margin: 5px;

    color: #000000;
}

.green-button{
    width: 25px;
    height: 25px;
    margin: 5px;
    background: green;
    border: 2px solid black;
    border-radius: 50%;
}

.red-button{
    width: 25px;
    height: 25px;
    margin: 5px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
}

.member-info-join{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 5%;
}

.member-info{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 15%;
}

.member-username{
    color: #000000;
}

.member-joindate{
    color: #616161;
}

.join-button{
    box-sizing: border-box;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    width: 58px;
    height: 38px;
    margin-right: 5%;
    
    background: #FEFEE2;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.join-button:hover {
    background-color: #3D211A;
    color: white;
}

.joined-button{
    box-sizing: border-box;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    width: 58px;
    height: 38px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #F3C26E;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.joined-button:hover {
    background-color: #3D211A;
    color: white;
}

/* community-bar under 1100px */
@media (max-width: 1100px){
    .image-info{
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: 9.38%;
    }

    .member-info-join{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 5%;
    }
}

/* community-bar under 800px */
@media (max-width: 800px){
    .notification{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 80px;
        width: 160px;
        margin: 10px;
        margin-left: 10%;
    
        background: #FEFEE2;
        border: 1px solid #000000;
        border-radius: 10px;
    }
}

/* community-bar under 685px */
@media (max-width: 685px){
    .notification{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        width: 160px;
        margin: 10px;
        margin-left: 5%;
    
        background: #FEFEE2;
        border: 1px solid #000000;
        border-radius: 10px;
    }
}

/* community-bar under 400px */
@media (max-width: 400px){
    .community-bar{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        width: 100%;
        top: 0%;
    
        background: #F3C26E;
        border: 2px solid #000000;
    }

    .image-info{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
    }

    .community-info{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
    }

    .community-image{
        box-sizing: border-box;
        height: 65px;
        width: 65px;
    
        background: #F3C26E;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .member-info-join{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
    }

    .member-info{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
    }
}

/* community-bar under 190px */
@media (max-width: 190px){
    .notification{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        width: 100px;
        margin: 10px;
        margin-left: 5%;
    
        background: #FEFEE2;
        border: 1px solid #000000;
        border-radius: 10px;
    }
}

/* back button */
.back-button-bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    top: 0%;
}

.back-button{
    width: 45px;
    height: 30px;
    margin: 10px;
    background: #F3C26E;
}

.back-button-image{
    width: 26px;
    height: 26px;
}

/* main post */
.main-post{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 85%;
    left: 2%;
    top: 0%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.poster-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-avater{
    width: 56px;
    height: 56px;
    margin-left: 20px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.post-avater:hover{
    box-shadow: 0 0 3px 3px #864522;
}

.post-by{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'Alfa Slab One';
    font-size: 16px;

    color: #000000;
}

.post-username{
    margin: 10px;
    margin-left: 0px; 
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color: #127475;
}

.post-username:hover{
    color: #F3C26E;
    text-decoration: underline;
}

.post-on{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Alfa Slab One';
    font-size: 16px;

    color: #000000;
}

.post-date{
    margin: 10px;
    margin-left: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.post-views{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;

    color: #000000;
}

.post-viewnumber{
    margin: 10px;
    color: #000000;
}

.post-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-id{
    margin: 10px;
    font-family: 'Alfa Slab One';
    font-size: 16px;
    color: #000000;
}

.post-title-text{
    margin: 10px;
    color: #000000;
}

.post-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    padding: 10px;
    width: 95%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.post-content-text{
    font-family: 'Alfa Slab One';
    font-size: 16px;
    color: #000000;
}

.post-images{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    margin: 10px;
    margin-top: 5px;
    padding: 10px;
    width: 95%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.post-image-1{
    width: 200px;
    height: 180px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-image-2{
    width: 200px;
    height: 180px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-image-3{
    width: 200px;
    height: 180px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px solid #000000;
    border-radius: 10px;
}

@media (max-width: 600px){
    .post-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-bottom: 5px;
        padding: 10px;
        width: 90%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .poster-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .post-avater{
        width: 56px;
        height: 56px;
        margin-left: 0px;
    
        background: #FEFEE2;
        border: 3px solid #000000;
        border-radius: 50%;
    }
    
    .post-by{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        font-family: 'Alfa Slab One';
        font-size: 16px;
    
        color: #000000;
    }

    .post-username{
        margin: 10px;
        margin-left: 0;
        margin-right: 0;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 16px;
    
        color: #127475;
    }
    
    .post-on{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        font-family: 'Alfa Slab One';
        font-size: 16px;
    
        color: #000000;
    }

    .post-date{
        margin: 10px;
        margin-left: 0;
        margin-right: 0;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 16px;
    
        color: #000000;
    }

    .post-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 90%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        padding: 10px;
        width: 90%;
        border: 2px solid #000000;
        border-radius: 10px;
    }
}

@media (max-width: 280px){
    .post-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-bottom: 5px;
        padding: 10px;
        width: 85%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-by{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px;
        font-family: 'Alfa Slab One';
        font-size: 16px;
    
        color: #000000;
    }

    .post-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 85%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-title-text{
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin: 10px;
    
        color: #000000;
    }

    .post-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        padding: 10px;
        width: 85%;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-image-1{
        width: 100px;
        height: 90px;
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        border: 2px solid #000000;
        border-radius: 10px;
    }
    
    .post-image-2{
        width: 100px;
        height: 90px;
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        border: 2px solid #000000;
        border-radius: 10px;
    }
    
    .post-image-3{
        width: 100px;
        height: 90px;
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        border: 2px solid #000000;
        border-radius: 10px;
    }
}

@media (max-width: 160px){
    .post-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-bottom: 5px;
        padding: 10px;
        width: 75%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-views{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        color: #000000;
    }

    .post-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 75%;
    
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .post-title-text{
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin: 10px;
    
        color: #000000;
    }

    .post-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    
        margin: 10px;
        margin-top: 5px;
        padding: 10px;
        width: 75%;
        border: 2px solid #000000;
        border-radius: 10px;
    }
}

/* post bar */
.post-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 85%;
    left: 2%;
}

.upvote{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 30px;
}

.upvote-button-before::before{
    cursor: pointer;
    content: "\2665";
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: #8E6F52;
}

.upvote-button-after::before{
    cursor: pointer;
    content: "\2665";
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: #3D211A;
}

.upvote-number-before{
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alfa Slab One';
    font-size: 16px;

    color: #8E6F52;
}

.upvote-number-after{
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alfa Slab One';
    font-size: 16px;

    color: #3D211A;
}

.post-buttons{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-left: auto;
}

.post-delete{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
    background-color: red;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.post-delete-button::before{
    cursor: pointer;
    content: "\1F5D1";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.post-delete:hover{
    background-color: #3D211A;
    color: white;
}

.post-delete-text{
    font-family: 'Alfa Slab One';
    font-size: 16px;
}

.post-report{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
}

.post-report-button{
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #3D211A;
    border: 2px solid black;
    border-radius: 50%;
}

.post-report-button:hover{
    background-color: #F3C26E;
}

.post-hide{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
}

.post-hide-button{
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #8E6F52;
    border: 2px solid black;
    border-radius: 50%;
}

.post-hide-button:hover{
    background-color: #F3C26E;
}

.post-pin{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: auto;
}

.post-pin-button{
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #127475;
    border: 2px solid black;
    border-radius: 50%;
}

.post-pin-button:hover{
    background-color: #F3C26E;
}

@media (max-width: 550px){
    .post-buttons{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        margin-left: auto;
    }

    .post-delete{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        margin-left: 30px;
        background-color: red;
        padding: 5px;
        border: 2px solid #000000;
        border-radius: 10px;
    }
    
    .post-report{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        margin-left: auto;
    }
    
    .post-report-button{
        width: 20px;
        height: 20px;
        margin: 5px;
        background: #3D211A;
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .post-report-button:hover{
        background-color: #F3C26E;
    }
    
    .post-hide{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        margin-left: auto;
        margin-right: 23px;
    }
    
    .post-hide-button{
        width: 20px;
        height: 20px;
        margin: 5px;
        background: #8E6F52;
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .post-hide-button:hover{
        background-color: #F3C26E;
    }
    
    .post-pin{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        margin-left: auto;
        margin-right: 31px;
    }
    
    .post-pin-button{
        width: 20px;
        height: 20px;
        margin: 5px;
        background: #127475;
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .post-pin-button:hover{
        background-color: #F3C26E;
    }
}

@media (max-width: 200px){
    .post-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

/* send comment bar */
.send-comment{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 85%;

    height: 6%;
    left: 2%;
}

.comment-label{
    box-sizing: border-box;

    height: 100%;
    width: 95%;
}

.comment-inputbox{
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 5px;
}

.comment-inputbox::placeholder{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.send-button{
    box-sizing: border-box;

    height: 60px;
    margin-left: auto;

    background: #F3C26E;

    border: 2px solid #3D211A;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #3D211A;
    color: white;
}
  

input[type="submit"] {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-size:15px;
    font-weight: normal;
}

/* comment section */
.comment-section{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    left: 2%;
    margin-top: 30px;
}

.individual-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 100%;

    border: 2px solid #000000;
}

.comment-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 20%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-user-avater{
    width: 54px;
    height: 54px;
    margin: 10px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.comment-user-avater:hover{
    box-shadow: 0 0 3px 3px #864522;
}

.comment-user-username{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Alfa Slab One';
    font-size:16px;

    color: #000000;
}

.comment-user-username:hover{
    color: #F3C26E;
    text-decoration: underline;
}

.comment-user-date{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Alfa Slab One';
    font-size: 12px;

    color: #000000;
}

.comment-text{
    display: flex;
    align-items: center;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    left: 0%;
    font-family: 'Alfa Slab One';
    font-size: 16px;

    border: 2px solid #000000;
    color: #000000;
}

.comment-interaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-delete{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin: 10px;
    padding: 5px;
    background-color: red;
    border: 2px solid #000000;
    border-radius: 10px;
}

.comment-delete-button::before{
    cursor: pointer;
    content: "\1F5D1";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.comment-delete:hover{
    background-color: #3D211A;
    color: white;
}

.comment-delete-text{
    font-family: 'Alfa Slab One';
    font-size: 12px;
}

.comment-edit{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 40px;
    margin: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.comment-edit-button::before{
    cursor: pointer;
    content: "\270E";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.comment-edit:hover{
    background-color: #3D211A;
    color: white;
}

.comment-edit-text{
    margin-left: 5px;
    font-family: 'Alfa Slab One';
    font-size: 12px;
}

.edit-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.edit-inputbox-label{
    box-sizing: border-box;
    width: 100%;
}

.edit-inputbox{
    box-sizing: border-box;

    height: 60px;
    width: 99%;
    margin: 5px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 5px;
}

.edit-inputbox::placeholder{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.edit-button-label{
    box-sizing: border-box;
}

.edit-button{
    box-sizing: border-box;

    height: 60px;
    margin: 5px;
    margin-left: auto;

    background: #F3C26E;

    border: 2px solid #3D211A;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #3D211A;
    color: white;
}

.delete-popup-title {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    color:#000000;
}

.popup-buttons{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: Center;

    width: 100%;
}

.delete-button{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    margin-right: 30px;
    padding: 5px;

    background: red;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.delete-button:hover{
    background-color: #3D211A;
    color: white;
}

.cancel-button{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    margin-left: 30px;
    padding: 5px;

    background: #FEFEE2;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.cancel-button:hover{
    background-color: #3D211A;
    color: white;
}

@media (max-width: 450px){
    .individual-comment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        border-radius: 10px;
        color: #000;
        margin: 10px;
        padding: 10px;
    
        border: 2px solid #000000;
    }

    .comment-user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
        border-radius: 10px;
        color: #000;
        margin: 10px;
        padding: 10px;
        max-width: 90%;
        width: auto;
    
        border: 2px solid #000000;
    }

    .comment-user-avater{
        width: 50px;
        height: 50px;
        margin-left: 0;

        background: #FEFEE2;
        border: 3px solid #000000;
        border-radius: 50%;
    }

    .comment-user-username{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 5px;
        font-family: 'Alfa Slab One';
        font-size:15px;
    
        color: #000000;
    }
    
    .comment-user-date{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 5px;
        font-family: 'Alfa Slab One';
        font-size: 12px;
    
        color: #000000;
    }

    .comment-interaction{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        border-radius: 10px;
        color: #000;
        margin: 10px;
        padding: 10px;
        max-width: 90%;
        width: auto;
        left: 0%;
    
        border: 2px solid #000000;
    }

    .comment-edit{
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 80px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        background-color: #F3C26E;
        border: 2px solid #000000;
        border-radius: 10px;
    }
}

@media (max-width: 280px){
    .comment-user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        border-radius: 10px;
        color: #000;
        margin: 10px;
        padding: 10px;
        max-width: 90%;
        width: auto;
    
        border: 2px solid #000000;
    }

}
