.blocked_profile_page{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: #FEFEE2;
}

.loading{
    color:#000000
}

.blocked_message{
    color:#000000
}

.profile_page{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: default;

    width: 100%;
    height: 100%;

    background: #FEFEE2;
}

/* profile title bar */
.profile_title_bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-left: 40%;

    border-radius: 10px 10px 0px 0px;
    border: 6px solid #3D211A;
}

.profile_title{
    margin: 10px;
    display: flex;

    color: #000000;
}

.title-bar-buttons{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: auto;
}

.edit_button{
    box-sizing: border-box;

    margin: 10px;
    height: 40px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    padding: 5px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.edit_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.edit_button_icon::before{
    cursor: pointer;
    content: "\270E";
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
}

.addfriend_button{
    box-sizing: border-box;

    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    padding: 5px;

    background: #00FF00;
    border: 2px solid #000000;
    border-radius: 10px;
}

.addfriend_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.add_friend_icon::before{
    cursor: pointer;
    content: "\002B";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.accept_button {
    box-sizing: border-box;

    margin: 10px;

    /* width: 100px; */
    height: 40px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    padding: 5px;

    background: #00FF00;
    border: 2px solid #000000;
    border-radius: 10px;
}

.accept_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.accept_friend_icon::before{
    cursor: pointer;
    content: "\2295";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.removefriend_button{
    box-sizing: border-box;

    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    padding: 5px;

    background: #FF0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.removefriend_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.remove_friend_icon::before{
    cursor: pointer;
    content: "\2716";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.reject_button{
    box-sizing: border-box;

    margin: 10px;

    /* width: 100px; */
    height: 40px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    padding: 5px;

    background: #FF0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.reject_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.reject_friend_icon::before{
    cursor: pointer;
    content: "\2296";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.RequestSent_button{
    box-sizing: border-box;

    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    padding: 5px;

    background: gray;
    border: 2px solid #000000;
    border-radius: 10px;
}

.RequestSent_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.request_sent_icon::before{
    cursor: pointer;
    content: "\21D7";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

.Block_button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px;
    /* width: 100px; */
    height: 40px;
    padding: 5px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;

    background: red;
    border: 2px solid #000000;
    border-radius: 10px;
}

.Block_button_icon::before{
    cursor: pointer;
    content: "\2298";
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    font-size: 25px;
}

/*
.Block_button_text{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
}
*/

.Block_button:hover {
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

/* title bar under 700px */
@media (max-width: 700px){
    .title-bar-buttons{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        margin-left: auto;
    }
}

/* title bar under 500px */
@media (max-width: 500px){
    .profile_title_bar{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        padding-left: 20%;
    
        border-radius: 10px 10px 0px 0px;
        border: 6px solid #3D211A;
    }

    .title-bar-buttons{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        margin-left: auto;
    }

    .close_button{
        box-sizing: border-box;
    
        margin: 10px; 
    
        width: 70px;
        height: 40px;
    
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    
        background: #F3C26E;
        border: 2px solid #000000;
        border-radius: 10px;
    }
}

/* title bar under 350px */
@media (max-width: 350px){
    .profile_title_bar{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        padding-left: 0%;
    
        border-radius: 10px 10px 0px 0px;
        border: 6px solid #3D211A;
    }

    .title-bar-buttons{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }
}

/* title bar under 210px */
@media (max-width: 210px){
    .profile_title_bar{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        padding-left: 0%;
    
        border-radius: 10px 10px 0px 0px;
        border: 6px solid #3D211A;
    }

    .title-bar-buttons{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }

    .edit_button{
        box-sizing: border-box;
    
        width: 60px;
        height: 40px;
    
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    
        background: #F3C26E;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .close_button{
        box-sizing: border-box;
    
        /* margin: 10px; */
    
        width: 60px;
        height: 40px;
    
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    
        background: #F3C26E;
        border: 2px solid #000000;
        border-radius: 10px;
    }
}

/* Profile Info */
.profile_info_bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    top: 0%;
    padding: 10px;

    border: 6px solid #3D211A;
    border-top: 1px solid #000000;
}

.profile_image{
    box-sizing: border-box;

    width: 15vw;
    height: 15vw;
    margin: 20px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 50%;
}

.user_info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.username{
    margin: 10px;
    color: #000000;
}

.first_name{
    color: #8E6F52;
}

.last_name{
    color: #8E6F52;
}

.description{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 30%;
    margin: 10px;
    margin-left: auto;
    margin-right: 60px;
    font-family: 'Alfa Slab One';
    font-size: 20px;

    color:#000000;
}

.description_text{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    word-wrap: break-word;
}

/* profile_info under 500px */
@media (max-width: 500px){
    .profile_info_bar{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        width: 100%;
        top: 0%;
        padding: 10px;
    
        border: 6px solid #3D211A;
        border-top: 1px solid #000000;
    }

    .profile_image{
        box-sizing: border-box;
    
        width: 100px;
        height: 100px;
        margin: 10px;
    
        background: #F3C26E;
        border: 2px solid #000000;
        border-radius: 50%;
    }

    .description{
        box-sizing: border-box;
        width: 80%;
        margin: 10px;
        font-family: 'Alfa Slab One';
        font-size: 20px;
    
        color:#000000;
    }
}

/* user info bar under 200px */
@media (max-width: 200px){
    .description{
        box-sizing: border-box;
    
        width: 80%;
        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin: 10px;
    
        color:#000000;
    }
}

/* Favorite Communities */
.favorite_communities_bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    top: 0%;
    padding: 10px;

    border: 6px solid #3D211A;
    border-top: 1px solid #000000;
}

.favorite_communities_title_bar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.favorite_communities_title{
    color: #000000;
}

.communities_num{
    color: #000000;
}

.communities_bar{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.community{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 200px;
    height: 200px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.community_image{
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin: 10px;
    margin-top: 0px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 50%;
}

.community_image:hover{
    cursor: pointer;
    box-shadow: 0 0 6px 6px #864522;
}

.community_title{
    text-align: center;
    margin: 10px;
    color: #000000;
}

.community_title:hover{
    cursor: pointer;
    color: #864522;
    text-decoration: underline;
}

/* Favorite Communities under 430px */
@media (max-width: 430px){
    .communities_bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 100%;
    }

    .community{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
}

/* Friends */
.my_friend_bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    top: 0%;
    padding: 10px;

    border-radius: 0px 0px 10px 10px;
    border: 6px solid #3D211A;
    border-top: 1px solid #000000;
}

.friend_title_bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.friend_title{
    color: #000000;
}

.friend_num{
    color: #000000;
}

.show_BlockedFriend{
    box-sizing: border-box;

    margin: 10px;

    width: 170px;
    height: 40px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 5px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.show_BlockedFriend:hover{
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.show_Friend{
    box-sizing: border-box;

    margin: 10px;

    width: 120px;
    height: 40px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 5px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.show_Friend:hover{
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.friend_card_bar{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.friend_card{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 200px;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.friend_avatar{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 10px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
}

.friend_avatar:hover{
    cursor: pointer;
    box-shadow: 0 0 6px 6px #864522;
}

.friend_name{
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #000000;
}

.friend_name:hover{
    cursor: pointer;
    color:#864522;
    text-decoration: underline;
}

.friend_remove{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;
    padding: 5px;

    margin: 10px;

    color: #000000;

    background: #FF0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.friend_remove_icon::before{
    cursor: pointer;
    content: "\2716";
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}

.friend_remove:hover{
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.friend_block{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;
    padding: 5px;

    margin: 10px;

    color: #000000;

    background: #FF0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.friend_block_icon::before{
    cursor: pointer;
    content: "\2298";
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
}

.friend_block:hover{
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

.friend_unblock{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;
    padding: 5px;

    margin: 10px;

    color: #000000;

    background: #FF0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.friend_unblock_icon::before{
    cursor: pointer;
    content: "\1F513";
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    font-size: 15px;
}

.friend_unblock:hover{
    cursor: pointer;
    background-color: #3D211A;
    color: white;
}

