/* Registration Page */
body {
    /*background-color: rgba(243, 194, 110, 0.65);*/
    background-color: #FEFEE2;
}

.wrapper {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
}

.inner {
    max-width: 758px;
    text-align: center;
    padding: 60px;
}

.password {
    -webkit-text-security: square;
}

.pfp {
    /*background-color: #F3C26E;*/
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.display {
    display: none;
}

.profile_image {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 320px;
    top: 140px;
    border-radius: 50%;

    background: #F3C26E;
}

.input {
    text-align: center;
    position: center;
    display: block;
    margin-bottom: 25px;
}

/* Style invalid inputs with red border */
/*input:invalid {*/
/*    border-color: red;*/
/*}*/

/* Style error messages for invalid inputs with red text */
/*input:invalid + .error-message {*/
/*    display: block;*/
/*    color: red;*/
/*}*/

/* Hide error messages by default */
/*.error-message {*/
/*    display: none;*/
/*}*/

.input-stuff {
    border: none;
    border-bottom: 2px solid #C06A30;
    width: 508px;
    height: 43px;
    font-size: 15px;
    background: none;
}

.input-stuff:focus {
    outline: none;
    border-bottom: 2px solid #999999;
}

.container {
    height: 50px;
    width: 300px;
}

/* Base Button Design */

.base {
    padding: 0 20px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    background: #F3C26E;
    color: #000000;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 13%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
.base:hover {
    background: #F3C26E;
    box-shadow: 0 6px 20px rgb(245 245 220 / 43%);
}

/* Back Arrow */

.register-base-back {
    margin: 10px;
}

/* Submit Button */

.base-submit {
    /*position: absolute;*/
    bottom: 5px;
    padding: 0 25px;
    height: 45px;
    font-size: 16px;
}

.h3-inner {
    width: 100%;
    font-size: 38px;
    font-family: "Montserrat-Bold", sans-serif;
    text-align: center;
    color: #3D211A;
}

.login-link{
    font-size: 20px;
}

.signup-form{
    width: 100%;
}

/* input-stuff under 600px */
@media (max-width: 600px){
    .input-stuff {
        border: none;
        border-bottom: 2px solid #C06A30;
        width: 300px;
        height: 43px;
        font-size: 15px;
        background: none;
    }
}

/* input-stuff under 350px */
@media (max-width: 350px){
    .h3-inner {
        font-size: 28px;
        font-family: "Montserrat-Bold", sans-serif;
        text-align: center;
        color: #3D211A;
    }

    .input-stuff {
        border: none;
        border-bottom: 2px solid #C06A30;
        width: 150px;
        height: 43px;
        font-size: 15px;
        background: none;
    }
}