/* Color Palettes */
:root {
  --bistre: #3d211a;
  --french-bistre: #8e6f52;
  --yellow-apricot: #f3c26e;
  --light-yellow: #fefee2;
  --skobeloff: #127475;
}

/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

/* Typography */
.inactive-text {
  display: block;
  color: var(--french-bistre);
}
.active-text {
  display: block;
  color: var(--bistre);
}


/* Header */
.header {
  position: sticky;
  top: 0;
}

/* Footer */
.footer {
  background-color: var(--yellow-apricot);
  border-top: 2px solid var(--bistre);
  width: 100%;
  height: 54px;
}

/* Generic Buttons */
.button {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 10px;
}

/* Container */
.container {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background-color: var(--yellow-apricot);
  border-bottom: 2px solid var(--bistre);
  height: 54px;
  width: 100%;
}

/* Banner */
.banner {
  /* border: 1px solid var(--bistre); */
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.banner-background {
  /* background-color: var(--bistre); */
  /* border: 1px solid var(--bistre); */
  width: 100%;
  height: 350px;
}
.banner-content {
  background-color: var(--yellow-apricot);
  /* border: 1px solid var(--bistre); */
  padding: 5px 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.banner-content .community-avatar {
  margin-left: 100px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border: 2px solid var(--bistre);
  background-color: var(--french-bistre);
  border-radius: 10px;
}
.banner-content .community-info {
  /* border: 1px solid var(--bistre); */
  width: 370px;
}
.banner-content .join-button {
  margin-left: auto;
  margin-right: 100px;
  border: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 10px;
}

/* Main section */
.main-section {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
}

/* Community Stat */
.community-stats {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.community-stats-tab {
  margin: 10px;
}

/* Create-Sort Box*/
.create-sort-post-box {
  /* border: 2px solid var(--bistre); */
  border-radius: 10px;
  display: flex;
  /* padding: 10px; */
}
.sort-post-button {
  margin-right: auto;
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  padding: 10px;
}
.create-post-box {
  display: flex;
  justify-content: space-between;
  width: 282px;
  border: 2px solid var(--bistre);
  border-radius: 10px;
}
.create-post-placeholder {
  /* border: 2px solid var(--bistre); */
  border-radius: 10px;
  padding: 10px;
}
.create-post-button {
  border: 2px solid var(--bistre);
  background-color: var(--yellow-apricot);
  border-radius: 10px;
  padding: 10px;
}

/* Sort Options Box */
.sort-option-box {
  background-color: var(--yellow-apricot);
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.sort-option {
  padding: 10px;
  /* border: 1px solid var(--bistre); */
}

/* Posts List */
.posts-list {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Community Post */
.community-post {
  background-color: var(--light-yellow);
  border: 2px solid var(--bistre);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  gap: 5px
}
.post-summary {
  width: 745px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.post-thumbnail {
  width: 90px;
  height: 90px;
  border: 2px solid var(--bistre);
  background-color: var(--french-bistre);
  border-radius: 10px;
}
.post-id-title {
  /* border: 1px solid var(--bistre); */
  width: 100%; 
}
.post-author-date {
  display: flex;
  flex-direction: row;
  width: 210px;
  gap: 50px;
}
.post-stats {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.post-views {
  width: 90px;
  height: 90px;
  /* border: 2px solid var(--bistre); */
  border-radius: 5px;
  display: grid;
  place-items: center;
  align-content: center;
}
.post-reactions {
  width: 90px;
  height: 90px;
  /* border: 2px solid var(--bistre); */
  border-radius: 5px;
  display: grid;
  place-items: center;
  align-content: center;
}
.post-comments {
  width: 90px;
  height: 90px;
  /* border: 2px solid var(--bistre); */
  border-radius: 5px;
  display: grid;
  place-items: center;
  align-content: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
}
.prev-button {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 10px;
}
.next-button {
  border: 2px solid var(--bistre);
  border-radius: 10px;
  padding: 10px;
}
.page-number {
  padding: 10px;
}