/* Page Background color */
.post-page{
    position: relative;
    width: 100vw;
    height: 100vh;
}

body {
    background-color:  #FEFEE2;
}
  
.community-bar{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 135px;

    background: #F3C26E;
    border: 1px solid #000000;
}

.community-image{
    box-sizing: border-box;

    position: absolute;
    height: 65px;
    width: 65px;
    left: 9.38%;
    top: 6.25%;
    bottom: 6.25%;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.community-name{
    position: absolute;
    left: 16.32%;
    top: 20%;
    bottom: 38.75%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    align-items: center;

    color: #000000;
}

.community-created{
    position: absolute;
    left: 16.32%;
    top: 61.25%;
    bottom: 25%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;

    color: #616161;
}

.member-info{
    position: absolute;
    left: 71.88%;
    top: 18.75%;
    bottom: 40%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.member-joindate{
    position: absolute;
    left: 71.88%;
    top: 60%;
    bottom: 26.25%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;

    color: #616161;
}

.notification{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 4px;

    position: absolute;
    height: 50px;
    width: 160px;
    left: 43%;
    right: 44.51%;
    top: 18%;
    bottom: 25%;

    background: #FEFEE2;
    border: 1px solid #000000;
    border-radius: 10px;
}

.notification:hover{
    background-color: #3D211A;
}

.notification:hover .notification_text{
    color: white;
}

.notification_text{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 5px;
    top: 10%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;

    color: #000000;
}

.green-button{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 112px;
    top: 15%;

    background: #00FF00;
    border: 3px solid #000000;
    border-radius: 50%;
}

.red-button{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 112px;
    top: 15%;

    background: #FF0000;
    border: 3px solid #000000;
    border-radius: 50%;
}

.join-button{
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    position: absolute;
    width: 49px;
    height: 36px;
    left: 85%;
    top: 25%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    background: #FEFEE2;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.join-button:hover {
    background-color: #3D211A;
    color: white;
}

.joined-button{
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    position: absolute;
    width: 49px;
    height: 36px;
    left: 85%;
    top: 25%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    background: #F3C26E;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.joined-button:hover {
    background-color: #3D211A;
    color: white;
}

.back-button{
    position: absolute;
    width: 4vw;
    height: 2.5vw;
    left: 3%;
    top: 285px;

    background: #F3C26E;
}

.back-button-image{
    position: absolute;
    width: 2.1vw;
    height: 2.1vw;
    left: 22%;
    top: 2.5%;
}

.postpage-content{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0%;
    top: 30%;
}

.main-post{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 85%;
    left: 2%;
    top: 0%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-avater{
    position: relative;
    width: 56px;
    height: 56px;
    margin-left: 20px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.post-by{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-username{
    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #127475;
}

.post-on{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-date{
    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-views{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-viewnumber{
    margin: 10px;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-id{
    margin: 10px;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000;
}

.post-title-text{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;

    color: #000000;
}

.post-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    padding: 10px;
    width: 95%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.post-content-text{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 157.4%;

    color: #000000;
}

.post-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 85%;
    height: 10%;
    left: 2%;
}

.upvote-button-image{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 70px;
    top: 20px;
}

.upvote-number{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85px;
    top: 55px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    color: #8E6F52;
}

.downvote-button-image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 12px;
}

.downvote-number{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 171px;
    top: 55px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    color: #3D211A;
}

.post-delete{
    position: absolute;
    left: 82.92%;
    right: 8.54%;
    top: 16.05%;
    bottom: 17.28%;
}

.post-delete-button{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 10px;
}

.post-delete-text{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 35px;
    top: 18px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.send-comment{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 19px;

    position: relative;
    width: 85%;
    height: 6%;
    left: 2%;
}

.comment-inputbox{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;

    background: #FEFEE2;
    border: 2px solid #000000;
    border-radius: 5px;
}

.write-comment-text{
    position: absolute;
    left: 2%;
    right: 80.91%;
    top: 30%;
    bottom: 30%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #616161;
}

.send-button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 52px;
    height: 98%;
    left: 95.6%;
    top: 1px;

    background: #F3C26E;

    border: 1px solid #3D211A;
    border-radius: 10px;
}

.send-button:hover {
    background-color: #8E6F52;
    color: white;
}
  

input[type="submit"] {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-size:16px;
    font-weight: bold;
}

.comment-section{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 80%;
    height: 450px;
    left: 2%;
    margin-top: 30px;
}

.individual-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 100%;

    border: 2px solid #000000;
}

.comment-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-user-avater{
    position: relative;
    width: 54px;
    height: 54px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.comment-user-username{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.comment-user-date{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.comment-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
    color: #000000;
}

.comment-interaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 15%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-delete-button-image{
    position: relative;
    width: 31px;
    height: 31px;
}

.comment-delete-text{
    position: relative;
    top: -5%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.comment-edit-button-image{
    position: relative;
    width: 23px;
    height: 26px;
}

.comment-edit-text{
    position: relative;
    top: -5%;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}