/* Page Background color */
.post-page{
    position: relative;
    width: 100vw;
    height: 100vh;
}

body {
    background-color:  #FEFEE2;
}
  

.community-bar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 100%;
    top: 12%;

    background: #F3C26E;
    border: 2px solid #000000;
}

.community-image{
    box-sizing: border-box;
    position: relative;
    height: 65px;
    width: 65px;
    margin: 10px;
    margin-left: 9.38%;

    background: #F3C26E;
    border: 2px solid #000000;
    border-radius: 10px;
}

.community-info{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
}

.community-name{
    position: relative;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}

.community-created{
    position: relative;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    color: #616161;
}

.notification{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 160px;
    margin: 10px;
    margin-left: 15%;

    background: #FEFEE2;
    border: 1px solid #000000;
    border-radius: 10px;
}

.notification:hover{
    background-color: #3D211A;
}

.notification:hover .notification_text{
    color: white;
}

.notification_text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5px;

    color: #000000;
}

.green-button{
    position: relative;
    width: 25px;
    height: 25px;
    margin: 5px;
    background: green;
    border: 2px solid black;
    border-radius: 50%;
}

.red-button{
    position: relative;
    width: 25px;
    height: 25px;
    margin: 5px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
}

.member-info{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 15%;
}

.member-username{
    position: relative;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;

    color: #000000;
}

.member-joindate{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    color: #616161;
}

.join-button{
    box-sizing: border-box;
    
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    width: 49px;
    height: 36px;
    margin-right: 5%;
    margin-left: auto;
    
    background: #FEFEE2;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.join-button:hover {
    background-color: #3D211A;
    color: white;
}

.joined-button{
    box-sizing: border-box;
    
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    width: 49px;
    height: 36px;
    margin-right: 5%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #F3C26E;
    border: 2px solid #8E6F52;
    border-radius: 10px;
}

.joined-button:hover {
    background-color: #3D211A;
    color: white;
}

.back-button{
    position: absolute;
    width: 4vw;
    height: 2.5vw;
    left: 3%;
    top: 240px;

    background: #F3C26E;
}

.back-button-image{
    position: absolute;
    width: 2.1vw;
    height: 2.1vw;
    left: 22%;
    top: 2.5%;
}

.postpage-content{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0%;
    top: 30%;
}

.main-post{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 85%;
    left: 2%;
    top: 0%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-avater{
    position: relative;
    width: 56px;
    height: 56px;
    margin-left: 20px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.post-by{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-username{
    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #127475;
}

.post-on{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-date{
    margin: 10px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-views{
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-viewnumber{
    margin: 10px;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
}

.post-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 95%;

    border: 2px solid #000000;
    border-radius: 10px;
}

.post-id{
    margin: 10px;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000;
}

.post-title-text{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;

    color: #000000;
}

.post-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 10px;
    margin-top: 5px;
    padding: 10px;
    width: 95%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.post-content-text{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 157.4%;

    color: #000000;
}

.post-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 85%;
    height: 10%;
    left: 2%;
}

.upvote-button-image{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 70px;
    top: 20px;
}

.upvote-number{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85px;
    top: 55px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    color: #8E6F52;
}

.downvote-button-image{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 12px;
}

.downvote-number{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 171px;
    top: 55px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    color: #3D211A;
}

.post-delete{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
}

.post-delete-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
}

.post-delete-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.post-delete-button:hover{
    background-color: #F3C26E;
}

.post-report{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
}

.post-report-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #3D211A;
    border: 2px solid black;
    border-radius: 50%;
}

.post-report-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.post-report-button:hover{
    background-color: #F3C26E;
}

.post-hide{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 30px;
}

.post-hide-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #8E6F52;
    border: 2px solid black;
    border-radius: 50%;
}

.post-hide-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.post-hide-button:hover{
    background-color: #F3C26E;
}

.post-pin{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-left: auto;
}

.post-pin-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #127475;
    border: 2px solid black;
    border-radius: 50%;
}

.post-pin-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.post-pin-button:hover{
    background-color: #F3C26E;
}

.send-comment{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 85%;

    height: 6%;
    left: 2%;
}

.comment-inputbox{
    box-sizing: border-box;

    position: relative;
    height: 100%;
    width: 95%;

    background: #FEFEE2;
    border: 2px solid #000000;
    border-radius: 5px;
}

.write-comment-text{
    position: relative;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #616161;
}

.send-button{
    box-sizing: border-box;

    position: relative;
    height: 60px;
    margin-left: auto;

    background: #F3C26E;

    border: 2px solid #3D211A;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #3D211A;
    color: white;
}
  

input[type="submit"] {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-size:16px;
    font-weight: bold;
}

.comment-section{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 80%;
    height: 450px;
    left: 2%;
    margin-top: 30px;
}

.individual-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 100%;

    border: 2px solid #000000;
}

.comment-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-user-avater{
    position: relative;
    width: 54px;
    height: 54px;

    background: #FEFEE2;
    border: 3px solid #000000;
    border-radius: 50%;
}

.comment-user-username{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.comment-user-date{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.comment-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
    color: #000000;
}

.comment-interaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    border-radius: 10px;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 15%;
    height: 80%;
    left: 0%;

    border: 2px solid #000000;
}

.comment-delete{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 5px;
}

.comment-delete-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
}

.comment-delete-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.comment-delete-button:hover{
    background-color: #F3C26E;
}

.comment-edit{
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 5px;
}

.comment-edit-button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
}

.comment-edit-text{
    position: relative;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.comment-edit-button:hover{
    background-color: #F3C26E;
}

.edit-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 100%;
}

.edit-inputbox{
    box-sizing: border-box;

    position: relative;
    height: 60px;
    width: 85%;
    margin: 5px;

    background: #FEFEE2;
    border: 2px solid #000000;
    border-radius: 5px;
}

.edit-button{
    box-sizing: border-box;

    position: relative;
    height: 60px;
    margin: 5px;
    margin-left: auto;

    background: #F3C26E;

    border: 2px solid #3D211A;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #3D211A;
    color: white;
}