/* Color Palettes */
:root {
  --bistre: #3d211a;
  --french-bistre: #8e6f52;
  --yellow-apricot: #f3c26e;
  --light-yellow: #fefee2;
  --skobeloff: #127475;
  --red-orange: #ff4700;
}

/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}