/* This is the base styling rules for our app. It includes color variables, default element styles, typography
rules (font size, font-family), etc. Think of these as a default styling rules for all of our components,
and any component-specific styling may overide these rules using unique classnames. */

/* Import Fonts (Alfa Slab One & Montserrat) */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat&display=swap');

/* Color Palettes */
:root {
  --bistre: #3d211a; /* Plain & Active Text */
  --french-bistre: #8e6f52; /* Meta & Inactive Text */
  --yellow-apricot: #f3c26e; /* Brand Color */
  --light-yellow: #fefee2; /* Background Color */
  --skobeloff: #127475; /* Success Color */
  --red-orange: #ff4700; /* Error Color */
  --light-periwinkle: #bed1d7 /* Info Color*/
}

/* Default element styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none; /* Remove underlines on hyperlinks */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.1px;
  font-weight: 300;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* Relative Font Size using Root Font Size (REM). On most browsers, 
the default root font size is 16px. But depending on the user, the 
root font size may vary. */
h1 {
  font-size: 1.625rem; /* 26px (when root font size is 16px) */
}
h2 {
  font-size: 1.5rem; /* 24px (when root font size is 16px) */
}
h3 {
  font-size: 1.313rem; /* 21px (when root font size is 16px) */
}
h4 {
  font-size: 1.125rem; /* 18px (when root font size is 16px) */
}
h5 {
  font-size: 0.938rem; /* 15px (when root font size is 16px) */
}
h6 {
  font-size: 0.75rem; /* 12px (when root font size is 16px) */
}

.profileform label{
   display:block;

}

.App-link {
  color: #09d3ac;
}

.postlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding:30px;
  margin:10px;

  width:60%;
  display: inline-flex;
}

.userlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding:30px;
  margin:10px;
  width:60%;
  display: inline-flex;
}

.comments{
    background:white;
    width:90%;
    display:block;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    color:black;
}

.commentlist {
  text-align: left;
  background: lightblue;
  color:black;
  border-radius: 20px;
  padding:10px;
  margin:10px;
  font-size: 12px;
  width:90%;
  display:block;
}

.hide{
  display:none;
}


.maincontent{
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-grow: 1;
}

.posts{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.postbody{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-block{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav{
  /* need to specify some position other than static, so height can apply.
     Fixed works since it will stay fixed to the side - 0 from both left and top. */
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:100px;

  /* internally to this container, we want to use flex positioning of the menu elements */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: blue;
}

.tag-active{
  border:red;
  border-width:thick;
  border-style: solid;
}

.sidenav ul{
   list-style-type: none;
   padding:10px;
   margin:0px;
   margin-top: 40px;
}

.sidenav-icon{
  width:40px;
  height:40px;

  margin-bottom:15px;
}

.comment-indicator{
  text-align:right;
  width:100%;
  display:block;
  float:right;
  margin-top: 10px;
}

.comment-icon{
  width:40px;
  height:40px;
  float:right;
}

.comment-indicator-text{
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width:120px;
  padding:5px;
  float:right;
  margin-left:10px;
  text-align: center;
}

.hide{
  display:none;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1px 10px 20px 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f3c26e;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1px 10px 20px 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}